 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nuestra Visión</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Ingexa es una empresa costarricense comprometida con crear espacios de vivienda y convivencia los cuales den calidad de vida a sus ocupantes, utilizando tecnologias de automatización de espacios.</p>
                </div>
                <div class="col-lg-4">
                    <p>Apasionados por la creación, utilizamos la electronica  y las comunicaciones para generar espacios nuevos con aplicaciones innovadoras siempre pensando en el usuario final </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <!--    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>
